<div id="reset-form" class="form-container">
  <%= form_tag do -%>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>
  <fieldset>
    <label for="email">Email:</label>
    <%= email_field_tag :email, params[:email], placeholder: 'email', autofocus: 'autofocus' %>
  </fieldset>
  <div>
    <%= submit_tag "Reset Password" %>
    <%= link_to "Cancel", login_url %>
  </div>
  <% end -%>
</div>