<div class="row">
  <div class="span6 offset3">
    <%= form_tag(password_resets_path, :method => "post", class: 'well form-horizontal') do %>
      <fieldset>
        <legend>Reset Password</legend>
        <% if flash[:notice] %>
          <div class="alert alert-block alert-info">
            <a class="close" data-dismiss="alert" href="#">x</a>
            <h4 class="alert-heading">Notice!</h4>
            <p><%= flash[:notice] %></p>
          </div>
        <% elsif flash[:alert] %>
        <div class="alert alert-block alert-error">
          <a class="close" data-dismiss="alert" href="#">x</a>
          <h4 class="alert-heading">Error!</h4>
          <p><%= flash[:alert] %></p>
        </div>
        <% end %>
        <div class="control-group">
          <%= label_tag :reset_email, nil, class: 'control-label' %>
          <div class="controls">
            <%= email_field_tag :reset_email, params[:reset_email], placeholder: 'Email' %>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Reset</button>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
