<%= content_tag_for :article, entry, 'data-id' => entry.id do %>
  <div class="meta">
    <ul>
      <li><time datetime="<%= entry.updated_at %>"><%= get_datetime_for_entry(entry) %></time></li>
      <li><%= link_to 'Edit', edit_entry_path(entry), :remote => true %></li>
      <li><%= link_to 'Delete', entry, data: { confirm: 'Are you sure?' }, method: :delete %></li>
    </ul>
  </div><%# meta end %>
  <div class="entry_content">
    <%= sanitize format_content(entry) %>
    <ul class="tag_list">
      <%= render partial: '/tags/tag', collection: entry.tags %>
    </ul>
  </div><%# entry_content end %>
<% end %>