<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
    <li><a href="#password" data-toggle="tab">Password</a></li>
    <li><a href="#premium" data-toggle="tab">Go Premium</a></li>
    <li><a href="#export" data-toggle="tab">Export Data</a></li>
    <li><a href="#cancel" data-toggle="tab">Cancel Account</a></li>
  </ul>
  <div class="tab-content">
    <% if notice %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">Success</h4>
        <p id="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">Error</h4>
        <p id="error"><%= alert %></p>
      </div>
    <% end %>
    <div class="tab-pane active" id="settings">
      <%= form_for(@hacker, html: {class: 'well form-horizontal'}) do |f| %>
        <fieldset>
          <legend>Update Your Settings</legend>
          <div class="control-group">
            <%= f.label :email, class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :email, autofocus: true, tabindex: 1, class: 'span5' %>
              <%= form_field_error(@hacker, :email) %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :name, "Nickname", class: 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, tabindex: 2, class: 'span5' %>
              <%= form_field_error(@hacker, :name) %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :time_zone, "Time Zone", class: 'control-label' %>
            <div class="controls">
              <%= select_tag("hacker[time_zone]", time_zone_options_for_select(@hacker.time_zone, ActiveSupport::TimeZone.us_zones), class: 'span5') %><br/>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :save_tags, "Save Tags", class: 'control-label' %>
            <div class="controls">
              <label class="checkbox">
                <%= f.check_box :save_tags, tabindex: 4 %>
                Reuse previous tags for next log entry?
              </label>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Update</button>
          </div>
        </fieldset>
      <% end %>
    </div>
    <div class="tab-pane" id="password">
      <%= form_for(@hacker, html: {class: 'well form-horizontal'}) do |f| %>
      <fieldset>
        <legend>Change Your Password</legend>
        <div class="control-group">
          <%= label_tag :current_password, 'Current Password', class: 'control-label' %>
          <div class="controls">
            <%= password_field_tag :current_password, nil, size: 40, tabindex: 1, class: 'span5' %>
            <%= form_field_error(@hacker, :current_password) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, 'New Password', class: "control-label" %>
          <div class="controls">
            <%= f.password_field :password, size: 40, tabindex: 2, class: 'span5' %>
            <%= form_field_error(@hacker, :password) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, 'Confirm Password', class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, size: 40, tabindex: 3, class: 'span5' %>
            <%= form_field_error(@hacker, :password_confirmation) %>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Update</button>
        </div>
      </fieldset>
      <% end %>
    </div>
    <div class="tab-pane" id="premium">
      <%= form_for(@hacker, html: {id: 'hacker_premium', class: 'well form-horizontal'}) do |f| %>
      <fieldset>
        <legend>hackrLog() Premium</legend>
        <p>Unlimited entries for just $9.99 / year.</p>
        <div id="stripe-error" style="display: none">
          <noscript>Javascript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
          <div class="alert alert-block alert-error">
            <a class="close" data-dismiss="alert" href="#">x</a>
            <h4 class="alert-heading">Error!</h4>
            <p id="stripe-error-text"></p>
          </div>
        </div>
        <% if @hacker.premium_active %>
          <p>Your account was upgraded to hackrLog() Premium on <%= @hacker.premium_start_date %>. The next charge will
             occur in <%= distance_of_time_in_words(Date.today, @hacker.premium_start_date + 1.year) %>.</p>
        <% else %>
        <div class="control-group">
          <%= label_tag :card_number, "Card Number", class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :card_number, nil, name: nil %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :card_code, "Security Code (CVV)", class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :card_code, nil, name: nil %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :card_month, "Card Expiration", class: 'control-label' %>
          <div class="controls">
            <%= select_month nil, {add_month_numbers: true}, {name: nil, id: 'card_month'} %>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 15}, {name: nil, id: 'card_year'} %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.hidden_field :activating_premium, value: true %>
          <%= f.hidden_field :stripe_card_token %>
          <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Submit</button>
        </div>
        <% end %>
      </fieldset>
      <% end %>
    </div>
    <div class="tab-pane" id="export">
      <%= form_tag(export_hacker_url(@hacker.id), method: "get", class: 'well form-horizontal') do %>
      <fieldset>
        <legend>Export Your Data</legend>
        <div class="control-group">
          <label for="export_format" class="control-label">Select Format:</label>
          <div class="controls">
            <label class="checkbox">
              <%= radio_button_tag(:export_format, "csv", true) %>
              &nbsp; CSV
            </label>
            <label class="checkbox">
              <%= radio_button_tag(:export_format, "json") %>
              &nbsp; JSON
            </label>
            <label class="checkbox">
              <%= radio_button_tag(:export_format, "yml") %>
              &nbsp; YAML
            </label>
            <label class="checkbox">
              <%= radio_button_tag(:export_format, "txt") %>
              &nbsp; Plain Text
            </label>
          </div>
        </div>
        <div class="form-actions">
          <%= hidden_field_tag :id, @hacker.id %>
          <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Export</button>
        </div>
      </fieldset>
      <% end %>
    </div>
    <div class="tab-pane" id="cancel">
      <%= form_tag(cancel_hacker_url(@hacker.id), method: :post, id: 'cancel-form', class: 'well form-horizontal') do %>
        <fieldset>
          <div class="alert alert-info">
            <h4 class="alert-heading">Beware!</h4>
            <p id="notice">If you cancel your account your data will be deleted. If you wish to keep your data please export it first.</p>
          </div>
          <div class="control-group">
              <%= label_tag :cancel, "Cancel Account", class: 'control-label' %>
              <div class="controls">
                <label class="checkbox">
                  <%= check_box_tag :cancel %>
                  Are you sure you wish to cancel your account?
                </label>
              </div>
              <div class="control-group">
                <%= label_tag :cancel_password, 'Password', class: "control-label" %>
                <div class="controls">
                  <%= password_field_tag :cancel_password, nil, size: 40, tabindex: 1, class: 'span3' %>
                  <%= form_field_error(@hacker, :cancel_password) %>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Cancel</button>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>