<%= form_for(@hacker) do |f| %>
  <fieldset>
    <legend>Contact Information</legend>
    <ol>
      <li>
        <%= f.label :email %>
        <%= f.text_field :email, autofocus: true, tabindex: 1 %>
        <%= form_field_error(@hacker, :email) %>
      </li>
      <li>
        <%= f.label :name, "Nickname" %>
        <%= f.text_field :name, tabindex: 2 %>
        <%= form_field_error(@hacker, :name) %>
      </li>
      <li>
        <%= f.label :time_zone, "Time Zone" %>
        <%= select_tag("hacker[time_zone]", time_zone_options_for_select(@hacker.time_zone, ActiveSupport::TimeZone.us_zones)) %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Password</legend>
    <ol>
      <li>
        <%= label_tag :current_password, 'Current Password' %>
        <%= password_field_tag :current_password, nil, size: 40, tabindex: 4 %>
        <%= form_field_error(@hacker, :current_password) %>
      </li>
      <li>
        <%= f.label :password, 'New Password' %>
        <%= f.password_field :password, size: 40, tabindex: 5 %>
        <%= form_field_error(@hacker, :password) %>
      </li>
      <li>
        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, size: 40, tabindex: 6 %>
        <%= form_field_error(@hacker, :password_confirmation) %>
      </li>
    </ol>
  </fieldset>
  <%= f.submit %>
<% end %>
<%= form_tag(export_hacker_url, :method => "get") do %>
  <fieldset>
    <legend>Export Your Data</legend>
    <p>
      Select one of these formats:
    </p>
    <%= radio_button_tag(:export_format, "csv", true) %>
    <%= label_tag(:export_format_csv, "CSV") %><br/>
    <%= radio_button_tag(:export_format, "json") %>
    <%= label_tag(:export_format_json, "JSON") %><br/>
    <%= radio_button_tag(:export_format, "yml") %>
    <%= label_tag(:export_format_yml, "YAML") %><br/>
    <%= radio_button_tag(:export_format, "txt") %>
    <%= label_tag(:export_format_txt, "Plain Text") %><br/><br/>
    <div>
      <%= hidden_field_tag :id, @hacker.id %>
      <%= submit_tag "Export" %>
    </div>
  </fieldset>
<% end %>
<fieldset>
  <legend>Cancel Account</legend>
  <p>Export your data if you want to use it outside of this application.</p>
  <%= button_to 'Cancel', {action: "cancel", id: @hacker.id}, data: { confirm: 'Are you sure?' }, method: :post %>
</fieldset>