<%= form_for(@hacker, html: {class: 'well form-horizontal'}) do |f| %>
  <fieldset>
    <legend>Join hackrLog()</legend>
    <% if flash[:notice] %>
      <div class="alert alert-block alert-info">
        <a class="close" data-dismiss="alert" href="#">x</a>
        <h4 class="alert-heading">Notice!</h4>
        <p><%= flash[:notice] %></p>
      </div>
    <% elsif flash[:alert] %>
    <div class="alert alert-block alert-error">
      <a class="close" data-dismiss="alert" href="#">x</a>
      <h4 class="alert-heading">Error!</h4>
      <p><%= flash[:alert] %></p>
    </div>
    <% end %>
    <div class="control-group">
      <%= f.label :email, class: 'control-label' %>
      <div class="controls">
        <%= f.email_field :email, autofocus: true, tabindex: 1, class: 'span4' %>
        <%= form_field_error(@hacker, :email) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, 'Nickname (optional)', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, tabindex: 2, class: 'span4' %>
        <%= form_field_error(@hacker, :name) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password, 'Password', class: 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, size: 40, tabindex: 3, class: 'span4' %>
        <%= form_field_error(@hacker, :password) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, 'Confirm Password', class: 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, size: 40, tabindex: 4, class: 'span4' %>
        <%= form_field_error(@hacker, :password_confirmation) %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag "Join", class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>