<%= form_for(@hacker) do |f| %>
  <h3>Join hackrLog</h3>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :email %>
        <%= f.text_field :email, autofocus: true, tabindex: 1 %>
        <%= form_field_error(@hacker, :email) %>
      </li>
      <li>
        <%= f.label :name, "Nickname (optional)" %>
        <%= f.text_field :name, tabindex: 2 %>
        <%= form_field_error(@hacker, :name) %>
      </li>
      <li class="required">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, size: 40, tabindex: 3 %>
        <%= form_field_error(@hacker, :password) %>
      </li>
      <li class="required">
        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, size: 40, tabindex: 4 %>
        <%= form_field_error(@hacker, :password_confirmation) %>
      </li>
    </ol>
  </fieldset>
  <%= submit_tag "Join" %>
<% end %>