<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= owners %> hackrLog</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%# Maybe remove this favicon link...??? 
    <link rel="shortcut icon" href="/favicon.ico" />
    %>
  </head>
  <body class="container_12">
    <%= render 'layouts/header' %>

    <div class="container">
      <section id="sidebar" class="grid_3">
        <%= render partial: "tags/list" %>
        <%= render partial: 'tag_sets/list' %>
        <%= render 'layouts/footer' %>
      </section><%# sidebar end %>
      <section id="content" class="grid_9">
        <%= yield %>
      </section><%# content end %>
    </div><%# container end %>

  </body>
  <%= render 'layouts/analytics' %>
</html>
