<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Welcome to hackrLog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
  <div id="wrap" class="container_12">
    <div id="logo" class="grid_9 alpha">
      <h1>hackrLog</h1>
      <h2>Development notes that work.</h2>
    </div>
    <ul id="nav" class="grid_3 omega">
      <li><%= link_to 'Home', home_url %></li>
      <li><%= link_to 'About', :controller => 'home', :action => 'about' %></li>
      <!-- <li><a href="#">Blog</a></li> -->
      <li><%= link_to 'Login', login_path %></li>
    </ul>

    <div id="main" class="container_12">
      <%= yield %>
    </div> <!-- main end -->

    <div id="footer" class="grid_12 alpha">
      <p>
        &copy; 2012 HackrApps, All Rights Reserved
        <%= link_to 'Terms of Service', :controller => 'home', :action => 'tos' %>
        <%= link_to 'Privacy Policy', :controller => 'home', :action => 'privacy' %>
      </p>
    </div> <!-- footer end -->
  </div> <!-- wrap end -->
</body>
<!-- Google Analytics Tracking code. -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20146877-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
