<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to hackrLog</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%# Maybe remove this favicon link...??? 
    <link rel="shortcut icon" href="/favicon.ico" />
    %>
  </head>
  <body class="container_12">
    <%= render 'layouts/home_header' %>
    
    <div class="container grid_12">
      <section id="content">
        <%= yield %>
      </section><%# content end %>
    </div><%# container end %>

    <%= render 'layouts/footer' %>
  </body>
  <%= render 'layouts/analytics' %>
</html>
