<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to hackrLog</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%# Maybe remove this favicon link...??? 
    <link rel="shortcut icon" href="/favicon.ico" />
    %>
  </head>
  <body>
    <%# TODO: Update this to use a header partial, either the existing one or a different one. %>
    <div id="logo">
      <h1>hackrLog</h1>
      <h2>Development notes that work.</h2>
    </div>
    <ul id="nav">
      <li><%= link_to 'Home', home_url %></li>
      <li><%= link_to 'About', :controller => 'home', :action => 'about' %></li>
      <!-- <li><a href="#">Blog</a></li> -->
      <li><%= link_to 'Login', login_path %></li>
    </ul>

    <div class="container">
      <section id="content">
        <%= yield %>
      </section><%# content end %>
    </div><%# container end %>

    <%= render 'layouts/footer' %>
  </body>
  <%= render 'layouts/analytics' %>
</html>
