<div class="row">
  <div class="span9 offset1">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#help" data-toggle="tab">Help</a></li>
        <li><a href="#tips" data-toggle="tab">Tips</a></li>
        <li><a href="#support" data-toggle="tab">Support</a></li>
      </ul>
      <div class="tab-content">
        <% if flash[:notice] %>
          <div class="alert alert-block alert-info">
            <a class="close" data-dismiss="alert" href="#">x</a>
            <h4 class="alert-heading">Notice!</h4>
            <p><%= flash[:notice] %></p>
          </div>
        <% end %>
        <div id="help" class="tab-pane active fade in">
          <h2>hackrLog() Help</h2>
          <p>Choose from the list of topics below for more detailed information. If you are having a problem with something not covered here see the <a href="#support" data-toggle="tab">Support</a> section to ask for help.</p>
          <ul>
            <li><a href="#basic-usage">Basic <strong>hackrLog()</strong> Usage</a></li>
            <li><a href="#markdown">Markdown Syntax</a></li>
            <li><a href="#profile-settings">Profile Settings</a></li>
            <li><a href="#keyboard-interface">Keyboard Interface</a></li>
          </ul>
          <div id="#basic-usage">
            <h3>Basic Usage</h3>
            <p>
              <strong>hackrLog()</strong> was created to be extremely easy to use. Creating a new note, or entry,
              is as simple as entering the text into the Log Entry field and then adding one or more tags to
              categorize the entry so you can find it again later.
            </p>
            <ul class="thumbnails">
              <li>
                <div class="thumbnail">
                  <%= image_tag "entry-form.png" %>
                  <div class="caption"><p>Create a new entry in hackrLog().</p></div>
                </div>
              </li>
            </ul>
            <p>
              You can use plain text or Markdown in the Log Entry field. See the <a href="#markdown">Markdown Syntax</a>
              section for more information about the version of Markdown used on hackrLog().
            </p>
            <p>
              Tags are single words separated by spaces. Any uppercase characters used when entering tags will be
              converted to lowercase. If you need a multi-word tag connect the words with a dash or underscore
              character.
            </p>
            <p>
              Once you have entered the text and tags simple hit the enter key to create the Log Entry. You will
              see the new entry slide into place just below the entry form. When there is no filter activated
              all of your log entries will be available, newest to oldest. As you scroll down the page additional
              entries will be loaded.
            </p>
            <p>
              An entry shown in your log can be edited or deleted by clicking the edit or delete links in the top
              right corner of the entry. When editing, the entry will be replaced with an in-place form. Make
              whatever changes you like to the text or tags then click the update button or simply press the enter
              key. When deleting an entry you will be asked to confirm deletion before the entry is actually
              deleted.
            </p>
            <a href="#help">top</a>
          </div><br/>
          <div id="markdown">
            <h3>Markdown</h3>
            <p>
              <strong>hackrLog()</strong> uses <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> for entry
              formatting. In particular it uses <a href="http://github.github.com/github-flavored-markdown/" target="_blank">Github Flavored Markdown</a>
              which adds support for language specific code blocks and syntax highlighting.
            </p>
            <h4>5 Minute Markdown Guide</h4>
            <p>
              If you don't want to go over the detailed Markdown information linked above here is a quick guide to get
              you started with Markdown.
              
              <ul>
                <li>
                  <p>Use '#' characters to denote heading levels. One # becomes &lt;h1&gt;. Two ## becomes &lt;h2&gt; and so on.</p>
                  <p>Example:</p>
<pre>
# This is Heading One

## This is Heading Two

###### This is Heading Six
</pre>
                </li>
                <li>
                  <p>Use asterisks, pluses or hyphens followed by a space to create an unordered list.</p>
                  <p>Example:</p>
<pre>
* A List
* In No
* Particular Order
</pre>
                </li>
                <li>
                  <p>Use numbers followed by periods '1.' to create an ordered list.</p>
                  <p>Example:</p>
<pre>
1. First Item
2. Second Item
3. Third Item
</pre>
                </li>
                <li>
                  <p>
                    To create a link wrap the link text in square brackets and immediately after the closing
                    bracket the URL wrapped in parentheses. You can also add an optional title for the link
                    in double quotes after the URL.
                  </p>
                  <p>Example:</p>
<pre>
This is [an example](http://example.com/ "Title") inline link.

[This link](http://example.net/) has no title attribute.
</pre>
                </li>
                <li>
                  <p>
                    To create emphasis around a word or phrase use either asterisks or underline characters around
                    the word or phrase. A single asterisk or underline character will generate &lt;em&gt; tags. Two
                    asterisks or underlines will generate &lt;strong&gt; tags.
                  </p>
                  <p>Example:</p>
<pre>
*this will be emphasis*

_so will this_

**this will be strong**

__this phrase is also strong__
</pre>
                </li>
                <li>
                  <p>
                    To create inline code wrap the code with single <code>`</code> characters.
                  </p>
                  <p>Example:</p>
<pre>
Use the `puts` method to output a string to `stdout`.
</pre>
                </li>
                <li>
                  <p>Create a code block by wrapping the code with <code>```</code> characters. Adding a language
                    name after the opening <code>```</code> characters will trigger syntax highlighting for that language.
                  </p>
                  <p>Example:</p>
<pre>
```ruby
def hello(name)
  puts "Hello, #{name}."
end
```
</pre>
                </li>
              </ul>
            </p>
            <a href="#help">top</a>
          </div><br/>
          <div id="profile-settings">
            <h3>Profile Settings</h3>
            <p>
              <strong>hackrLog()</strong> has a few settings that affect the way you work. When logged in you can
              view your Profile Settings by clicking the <strong>Profile</strong> link in the page header.
            </p>
            <ul class="thumbnails">
              <li>
                <div class="thumbnail">
                  <%= image_tag "settings.png" %>
                  <div class="caption"><p>View or update your Profile Settings.</p></div>
                </div>
              </li>
            </ul>
            <p>
              From this form you can update your e-mail address, nickname, timezone, syntax highlighting style and
              whether or not your last used tags are saved for new entries.
            </p>
            <h4>E-Mail Address</h4>
            <p>
              The e-mail provided here serves as your account identifier and will also be used to communicate with
              you regarding any changes in your account status.
            </p>
            <h4>Nickname</h4>
            <p>
              The nickname is simply for display purposes and does not need to be unique. You will see it in the
              page title when logged in.
            </p>
            <h4>Timezone</h4>
            <p>
              The timezone is used to adjust the creation and update times for your entries. Entries are shown with
              an approximate time since creation. Setting your timezone will ensure that the time value will be correct.
            </p>
            <h4>Save Tags</h4>
            <p>
              This setting, when turned on, will reuse the last set of tags for your next entry. If you typically
              create many entries that are related to each other this can save you the hassle of re-typing the
              tags for each entry. When turned off you must enter the tags manually for each entry.
            </p>
            <h4>Syntax Highlighting Style</h4>
            <p>
              This drop down provides a list of syntax highlighting color styles. Select a color style and code blocks
              in entries will display with the selected color styles.
            </p>
            <h4>Additional Profile Options</h4>
            <p>
              If you have a Gravatar account you will see your primary Gravatar image on the profile page. There is
              also a link to the Gravatar site if you wish to create an account or update your existing account.
            </p>
            <p>
              You can change your account password by clicking the <strong>Password</strong> tab and providing your
              existing password and the new password.
            </p>
            <p>
              Upgrading to <strong>hackrLog() Premium</strong> can be accomplished by clicking the <strong>Go Premium</strong>
              tab and entering your credit card information.
            </p>
            <p>
              You can export your entry data at any time by clicking the <strong>Export Data</strong> tab. Select the
              desired export format and then click the <strong>Export</strong> button. Your data will be downloaded to
              your machine in a Zip file.
            </p>
            <p>
              If you wish to cancel your account click the <strong>Cancel Account</strong> tab. Check the cancel
              account checkbox, supply your account password and click the <strong>Cancel</strong> button. Your account
              will be closed, all data removed from <strong>hackrLog()</strong> and any recurring credit card charges will
              be stopped.
            </p>
            <a href="#help">top</a>
          </div><br/>
          <div id="keyboard-interface">
            <h3>Keyboard Interface</h3>
            <p>
              <strong>hackrLog()</strong> provides a keyboard interface for working with entries to make entering, editing
              and deleting entries easy. While the <strong>Log Entry</strong> or <strong>Tags</strong> fields have focus
              the keys shown below will not trigger the corresponding actions.
            </p>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Key</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="key">
                    <p>n</p>
                  </td>
                  <td>
                    <p>Create a new entry. This moves the cursor to the <strong>Log Entry</strong> field in preparation for a new entry.</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>j</p>
                  </td>
                  <td>
                    <p>Select the next item in the entry list. Repeatedly pressing the j key will continue moving down the entry list. The selected entry is shown with a blue left border highlight and a darker background.</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>k</p>
                  </td>
                  <td>
                    <p>Select the previous item in the entry list. Repeatedly pressing the k key will continue moving up the entry list. The selected entry is shown with a blue left border highlight and a darker background.</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>e</p>
                  </td>
                  <td>
                    <p>Edit the selected entry. This is the same as clicking the <strong>Edit</strong> link for an entry.</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>d</p>
                  </td>
                  <td>
                    <p>Delete the selected entry. This is the same as clicking the <strong>Delete</strong> link for an entry.</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              Another way of selecting an entry is to hover the mouse over it. You can mouse over and entry and still use the <em>e</em>
              and <em>d</em> keys to edit or delete the selected entry.
            </p>
            <a href="#help">top</a>
          </div>
        </div>
        <div id="tips" class="tab-pane fade">
          <h2>hackrLog() Tips</h2>
          <p>There are many ways to make use of hackrLog() tags and filtering. A few examples are provided here to give you an idea of what is possible.</p>
          <h3>Project Name</h3>
          <p>When working on a project tag notes with the project name, the module or file you are working on and possibly the type of work you are doing, such as bug fixing, testing, tuning, research and so on. When you are working on that project in the future you can filter hackrLog() with the project name to see only the notes pertaining to the project.</p>
          <h3>Reminders</h3>
          <p>When working on code you often know a change needs to be made, but not until after some other module is finished. You write a TODO comment in the code, but how are you going to remember to revisit that code when the time comes to update it? Make an entry in hackrLog() with the project name and <strong>reminder</strong> tags. Then just periodically filter hackrLog() with the <strong>reminder</strong> tag to see all of your reminders. Add the project name to the filter to just see reminders for the project.</p>
          <h3>Reference</h3>
          <p>Have a hard time remembering the details of an infrequently used library? Tired of hunting down the documentation everytime you need it? Create your own cheat sheet with hackrLog(). Log the details as you find them and tag them with the library name, module name and method or function name. You could even add a project name tag to allow for further filtering.</p>
        </div>
        <div id="support" class="tab-pane fade">
          <h2>hackrLog() Support</h2>
          <p>
            If you need help, have a question or comment, or if you have a suggestion for improving <strong>hackrLog()</strong>
            please contact us at <a href="mailto:support@hackrlog.com">support@hackrlog.com</a> or use the form below.
          </p>
          <%= form_tag(home_support_path, method: "post", class: 'well') do %>
            <fieldset>
              <legend>Support</legend>
              <div class="control-group">
                <%= label_tag :name, nil, class: 'control-label' %>
                <div class="controls">
                  <%= text_field_tag :name, params[:name], placeholder: 'Name', class: 'span7' %>
                </div>
              </div>
              <div class="control-group">
                <%= label_tag :email, nil, class: 'control-label' %>
                <div class="controls">
                  <%= email_field_tag :email, params[:email], placeholder: 'Email', class: 'span7' %>
                </div>
              </div>
              <div class="control-group">
                <%= label_tag :subject, nil, class: 'control-label' %>
                <div class="controls">
                  <%= text_field_tag :subject, params[:subject], placeholder: 'Subject', class: 'span7' %>
                </div>
              </div>
              <div class="control-group">
                <%= label_tag 'Comments / Suggestions / Requests', nil, class: 'control-label' %>
                <div class="controls">
                  <%= text_area_tag :comments, params[:comments], class: 'span7' %>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit Request</button>
              </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
