<header class="jumbotron masthead">
  <div class="hero-unit">
    <h1>Welcome to hackrLog()</h1>
    <p>
      Note taking built for developers.
    </p>
    <p><%= link_to 'Sign Up!', new_hacker_path, class: 'btn btn-primary btn-large' %></p>
    <div class="ui">
      <%= image_tag "ui.png" %>
    </div>
  </div><%# hero_unit end %>
</header><%# header end %>

<div id="description" class="row">
  <div class="span6">
    <p class="lead">
      Tired of searching through paper notebooks for that configuration setting you used last year
      and suddenly need again? Spending more time organizing your plain text note files than actually writing
      in them? Fed up with other note taking services that believe a <em>page</em> is the best storage and
      organization method for notes?
    </p>
  </div>
  <div class="span6">
    <p class="lead">
      <strong>hackrLog()</strong> was created to solve those headaches. Each note is a separate entity. Tag your
      notes with keywords to categorize them and then filter your notes using those tags to see just
      the data you're interested in.
    </p>
  </div>
</div>
<div id="features" class="row">
  <div class="page-header span12">
    <h1>Features</h1>
  </div>
  <div class="span4">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <%= image_tag "write.png" %>
          <div class="caption">
            <p>
              <strong>Enter Notes Quickly</strong> Capture notes while they are fresh in your mind. No need to hunt down
              the correct file or wiki page to edit. Use <a href="http://github.github.com/github-flavored-markdown/" title="Markdown">
              Github Flavored Markdown</a> to format your notes and code blocks nicely.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="span4">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <%= image_tag "tag.png" %>
          <div class="caption">
            <p>
              <strong>Tag Your Notes</strong> Use tags liberally to help categorize your information. Creating new tags is
              easy, simply add space separated words to your note and any tags that don't already exist will be created when
              you save the note.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="span4">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail">
          <%= image_tag "filter.png" %>
          <div class="caption">
            <p>
              <strong>Filter Your Notes</strong> Check a tag in the <strong>Used Tags</strong>list and the notes shown on the
              page will be filtered to that tag. Check another tag to further refine the filter. You can create more notes while
              the filter is active as well.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
