<%= form_for(@tag_set) do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Tag Set Name', tabindex: 1 %>
        <%= form_field_error(@tag_set, :name) %>
      </li>
      <li>
        <%= f.label :tags %>
        <%= f.text_field :tags, placeholder: 'Tags', tabindex: 2 %>
        <%= form_field_error(@tag_set, :tags) %>
      </li>
    </ol>
  </fieldset>
  <%= f.submit %>
<% end %>
