<h1>Listing Tag Sets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tag_sets.each do |tag_set| %>
  <tr>
    <td><%= tag_set.name %></td>
    <td><%= tag_set.tags %></td>
    <td><%= link_to 'Show', tag_set %></td>
    <td><%= link_to 'Edit', edit_tag_set_path(tag_set) %></td>
    <td><%= link_to 'Destroy', tag_set, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag set', new_tag_set_path %>
