<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag_set.name %>
</p>

<p>
  <b>Tags:</b>
  <%= @tag_set.tags %>
</p>


<%= link_to 'Edit', edit_tag_set_path(@tag_set) %> |
<%= link_to 'Back', tag_sets_path %>
