<% @tags = tag_usage(session[:hacker_id]) %>
<div id="tag_manager">
  <h3>Tags</h3>
  <table>
    <% @tags.each do |tag| %>
    <tr>
      <td class="tag"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
      <td><%= tag.count %></td>
      <td class="action"><%= link_to 'X', tag, remote: true, confirm: 'Are you sure you wish to delete this Tag?', method: :delete, title: "Delete Tag: #{tag.name}" %></td>
    </tr>
    <% end %>
  </table>
  <div>
    <%= add_tag_mini_form %>
  </div>
</div>