<div id="page-banner" role="banner" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "hackrLog()", home_url, title: 'Home', class: 'brand' %>
      <div class="nav-collapse" role="navigation">
        <ul class="nav">
          <li class="<%= active?('About') %>"><%= link_to 'About', controller: 'home', action: 'about' %></li>
          <li class="<%= active?('Help') %>"><%= link_to 'Help', controller: 'home', action: 'help' %></li>
        </ul>
        <%= render 'sessions/login_inline' unless controller.controller_name == 'sessions' && controller.action_name == 'new' %>
      </div>
    </div>
  </div>
</div>
