<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= owners %> hackrLog()</title>
    <%# Enable twitter bootstrap responsive display. %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="David Lains"/>
    <meta name="description" content="note taking / finding for developers"/>
    <meta name="keywords" content="hackrlog, log, notes, tags, developers, programmers, coders"/>
    <meta name="copyright" content="&copy; 2010-2012 David Lains"/>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <% if current_user %>
      <%# Can't use stylesheet_link_tag because that causes production to whine that the css is not precompiled. %>
      <link rel="stylesheet" type="text/css" href="/css/<%= current_user.highlight_style %>.css" media="all"/>
    <% end %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>

    <%# HTML5 shim, for IE6-8 support of HTML5 elements %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%# Fav and apple icons %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="icon-57.png">
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="row">
        <section id="sidebar" class="span3">
          <%= render partial: "layouts/sidebar" %>
        </section><%# sidebar end %>
        <section id="content" class="span9">
          <%= yield %>
        </section><%# content end %>
      </div> <%# row end %>
    </div><%# container end %>

  </body>
  <%= render 'layouts/analytics' %>
</html>
